<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unxok | &lt;3</title>
    <link rel="stylesheet" href="../assets/css/mystyle.css" />
    <script src="../assets/js/code.js"></script>
  </head>
  <body>
    <div id="page-container">
      <div id="header">
        <p>Unxok.com</p>
        <p style="text-align: center; font-size: 40px">Welcome!</p>
        <p>
          This is my personal webiste, as of right now, I am using it to get
          practice for web design and coding, if you are here... you shouldn't
          be, there is nothing for you here... yet.
        </p>
      </div>
      <div id="navbar">
        <a href="../index.html">Home</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
        <a href="../pages/template.html">Page</a>
      </div>
      <div id="body">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, nam.
          Eum quasi eius maiores ea quis, esse quo est accusamus. Quia, dolores
          aperiam. Libero, illo quos voluptatum tenetur deleniti nam!
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, nam.
          Eum quasi eius maiores ea quis, esse quo est accusamus. Quia, dolores
          aperiam. Libero, illo quos voluptatum tenetur deleniti nam!
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, nam.
          Eum quasi eius maiores ea quis, esse quo est accusamus. Quia, dolores
          aperiam. Libero, illo quos voluptatum tenetur deleniti nam!
        </p>
      </div>
      <div id="footer">
        <div class="footer-title">Looking for more?</div>
        <div>
          <p>
            <span style="text-decoration: underline">links</span> <br />
            tiktok <br />
            twitter <br />
            instagram <br />
          </p>
          <p>
            <span style="text-decoration: underline">tools</span> <br />
            github <br />
            google domains <br />
            vs code <br />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
